<!-- Controles de mes y año -->
<div class="d-flex mb-4 align-items-center">
  <select class="form-select me-2" [(ngModel)]="viewMonth" (ngModelChange)="updateViewDate()">
    <option *ngFor="let m of months; let i = index" [value]="i">{{ m }}</option>
  </select>
  <select class="form-select" [(ngModel)]="viewYear" (ngModelChange)="updateViewDate()">
    <option *ngFor="let y of years" [value]="y">{{ y }}</option>
  </select>
</div>

<!-- Botones de navegación -->
<div class="d-flex mb-4 justify-content-between align-items-center">
  <button class="btn btn-primary bg-blueGFT bg-blueGFT-hover w-25" (click)="prevMonth()">◁</button>
  <button class="btn btn-primary bg-blueGFT bg-blueGFT-hover mx-2 w-50" (click)="todayFn()">Mes actual</button>
  <button class="btn btn-primary bg-blueGFT bg-blueGFT-hover w-25" (click)="nextMonth()">▷</button>
</div>

<!-- Vista del calendario -->
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [weekStartsOn]="1"
  (dayClicked)="onDayClick($event)"
  style="height: 600px;"
></mwl-calendar-month-view>
