<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">

                    <h3 class="text-center mb-4">
                        @if (mode === 'login') { Login } @else { Register }
                    </h3>

                    <form [formGroup]="authForm" (ngSubmit)="submit()">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control outline-purple" id="username"
                                formControlName="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control outline-purple" id="password"
                                formControlName="password">
                        </div>

                        <!-- Solo para modo register-->
                        @if (mode === 'register') {
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control outline-purple" id="confirmPassword"
                                formControlName="confirmPassword">
                        </div>
                        }

                        <!-- Mensajes de error, aplicables sólo en modo login -->
                        @if (mode === 'login' && (userNotFound || wrongPassword)) {
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <p class="alert alert-danger mt-2 fw-bold" role="alert">
                                {{ userNotFound ? 'Invalid user' : 'Wrong password!' }}
                            </p>
                        </div>
                        }

                        <button type="submit" class="btn btn-primary mt-1 w-100 bg-lightPurple bg-lightPurple-hover">
                            @if (mode === 'login') { Log in } @else { Register }
                        </button>
                    </form>

                    <!-- Pie variable según el modo -->
                    @if (mode === 'login') {
                    <div class="text-center mt-4">
                        <span>Create an account? </span>
                        <a [routerLink]="['/register']" class="text-lightPurple">Sign up</a>
                    </div>
                    } @else {
                    <div class="text-center mt-4">
                        <span>Already have an account? </span>
                        <a [routerLink]="['/login']" class="text-lightPurple">Log in</a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>