<nav class="navbar navbar-expand-lg navbar-dark bg-lightPurple">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Vacation reservations</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto d-lg-flex gap-lg-3 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="underline-custom text-white"
                        [routerLinkActiveOptions]="{ exact: true }">
                        Home
                    </a>
                </li>

                <!-- LOGIN y LOGOUT -->
                @if (!isAuthenticated) {
                <a class="nav-link" routerLink="/login" >
                    <button class="btn-lightPurple w-100" routerLinkActive="active button-active">
                        Login
                    </button>
                </a>
                } @else {
                    <a class="nav-link">
                        <button (click)="logout()" class="btn-lightPurple w-100" routerLinkActive="active button-active">
                            Logout
                        </button>
                    </a>
                }
            </ul>
        </div>

    </div>
</nav>