/* You can add global styles to this file, and also import other style files */
.bg-lightPurple {
  background-color: #c788fe !important;
  border-color: #c788fe;
}

.bg-lightPurple-hover:hover {
  background-color: #dcbdff !important;
  border-color: #b35cff;
  color: #b35cff;
}

.text-lightPurple {
  color: #c490ff;
}

.outline-purple:focus {
  border-color: #b084f9 !important;
  box-shadow: 0 0 0 0.2rem rgba(176, 132, 249, 0.25) !important;
}

.underline-custom {
  text-decoration: underline;
  text-decoration-color: white; /* o el color que quieras */
  text-underline-offset: 3px;
}