<nav class="navbar navbar-expand-lg navbar-dark bg-lightPurple">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Vacation reservations</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto d-lg-flex gap-lg-3 align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="underline-custom text-white"
                        [routerLinkActiveOptions]="{ exact: true }">
                        Home
                    </a>
                </li>

                @if (!isAuthenticated) {
                <a class="nav-link" routerLink="/login">
                    <button class="btn-lightPurple" routerLinkActive="active button-active">
                        Login
                    </button>
                </a>
                } @else {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="vacationDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        My Vacations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="vacationDropdown">
                        <li>
                            <a class="dropdown-item" routerLink="/vacation/show" routerLinkActive="active">
                                Show Vacations
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/vacation/book" routerLinkActive="active">
                                Book Vacations
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/vacation/edit" routerLinkActive="active">
                                Edit Vacations
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/vacation/delete" routerLinkActive="active">
                                Delete Vacations
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- @if (user.roles.includes('ADMIN')) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin" routerLinkActive="underline-custom text-white">
                            Admin
                        </a>
                    </li>
                } -->
                <a class="nav-link">
                    <button (click)="logout()" class="btn-lightPurple" routerLinkActive="active button-active">
                        Logout
                    </button>
                </a>
                }
            </ul>
        </div>

    </div>
</nav>