<div class="container text-center mt-4">
    <h1>Book vacations</h1>
  </div>
<div class="container py-4">
  <app-calendar
    [mode]="'add'"
    [events]="displayEvents"
    (dayDetails)="onDayDetails($event)"
  ></app-calendar>

  <!-- [events]="displayEvents" - El evento que le enviamos al calendario, el calendario lo recibe como events, en [events]="events" -->
  <!-- (daySelected)="onDayClicked($event)" - El evento del output de calendar -->
  
  <div class="d-flex justify-content-end mt-5">
    <button class="btn btn-success me-3"
            [disabled]="!selectedStart || !selectedEnd"
            (click)="addHolidayRange()">Save vacation</button>
  
    <button class="btn btn-danger"
            [disabled]="!selectedStart"
            (click)="clearSelection()">Uncheck</button>
  </div>
</div>