
@if (!isAuthenticated) {
    <div class="container my-5 p-4 text-center bg-light border rounded shadow-sm">
        <h1 class="text-lightPurple">Welcome to the Vacation Reservation System</h1>
        <p>Please log in to view and manage your vacations.</p>
    </div>
} @else {
    <div class="container my-5 p-4 text-center bg-light border rounded shadow-sm">
        <h1 class="text-lightPurple">Welcome back, {{ user.username }}!</h1>
        <p>Explore your holidays in the calendar and manage them.</p>
    </div>
}

