<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">

                    <h3 class="text-center mb-4">
                        @if (mode === 'login') { Iniciar sesión } @else { Registrarse }
                    </h3>

                    <form [formGroup]="form" (ngSubmit)="submit()">

                        @for (field of currentFields; track field.key) {
                        <div class="mb-3">
                            <label [for]="field.key" class="form-label">{{ field.label }}</label>
                            <input [type]="field.type" class="form-control" [id]="field.key"
                                [formControlName]="field.key" [placeholder]="'Introduce ' + field.label" [class.is-invalid]="
                                    form.get(field.key)?.invalid && isTouched(form.get(field.key))
                                    || (mode === 'login' && field.key==='username' && userNotFound)
                                    || (mode === 'login' && field.key==='password' && wrongPassword)" />

                                <!-- Si hay errores los muestro -->
                            @if (getErrorMessages(field.key).length > 0) {
                                @for (msg of getErrorMessages(field.key); track $index) {
                                    <div class="mt-1 ms-1">
                                        <small class="text-danger">{{ msg }}</small>
                                    </div>
                                }
                            }
                        </div>
                        }

                        @if (mode==='login' && (userNotFound || wrongPassword)) {
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <div class="mt-1 ms-1">
                                <p class="text-danger">{{ userNotFound && 'Credenciales inválidas' }}</p>
                            </div>
                        </div>
                        }

                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-1 w-100 bg-blueGFT bg-blueGFT-hover">
                            {{ mode === 'login' ? 'Iniciar sesión' : 'Registrarse' }}
                        </button>
                    </form>

                    <div class="text-center mt-4">
                        @if (mode==='login') {
                        <span> ¿No tienes cuenta?
                            <a routerLink="/register" class="text-blueGFT">Registrarse</a>
                        </span>
                        } @else {
                        <span>  ¿Ya tienes una cuenta?
                            <a routerLink="/login" class="text-blueGFT">Iniciar sesión</a>
                        </span>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>