app-root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto auto 1fr;
}

app-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Para forzar tamaño del calendario */

@media (min-width: 768px) {
  .calendar-size {
    width: 50%; 
  }
}
.cal-month-view .cal-day-cell {
  height: 75px !important; 
  min-height: unset !important;
}

.cal-month-view .cal-cell-top {
  min-height: 0px !important;
}
/* ------------------------------- */


.bg-blue {
  background-color: #213E7F !important;
  border-color: #213E7F; /* Antes #c788fe */
  box-shadow: 0 2px 2px #00000040;
}

.bg-blue-hover:hover {
  background-color: #405990 !important;
  border-color: #405990;
  color: white;
}

.text-blue {
  color: #213E7F;
}

.border-blue {
  border-color: #405990 !important;
}

.btn:disabled {
  border-color: #153A7B !important;
}

.btn-blue {
  background-color: #213E7F !important;
  border: white solid 2px !important;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.btn-blue:hover {
  background-color: #405990 !important;
  border-color: #405990;
  color: white;
}

.button-active{
  background-color: #405990 !important;
  color: white;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  background-color: #133E78;
}

.underline-custom {
  text-decoration: underline;
  text-decoration-color: white; 
  text-underline-offset: 3px;
}

.calendarLogo{
  width: 60px;
  margin-right: 16px;
  padding-bottom: 2px;
}

.fs-xs {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Estilos para el input de color */
.campo-color {
  float: right;
  width: 42px;
}
.list-group-item.active{
  background-color: #153A7B !important;
  border-color: #153A7B !important;
}